@font-face {
  font-family: "iconfont"; /* Project id 4454016 */
  src: url('iconfont.woff2?t=1710342226890') format('woff2'),
       url('iconfont.woff?t=1710342226890') format('woff'),
       url('iconfont.ttf?t=1710342226890') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-2:before {
  content: "\e623";
}

.icon-goumai:before {
  content: "\e811";
}

.icon-fenlei:before {
  content: "\e600";
}

.icon-laji2:before {
  content: "\e651";
}

.icon-feiji:before {
  content: "\e631";
}

.icon-zhiliangguanli:before {
  content: "\e62a";
}

.icon-kefu1:before {
  content: "\e621";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-jiaxingshoucangtianchong:before {
  content: "\e683";
}

.icon-xiala:before {
  content: "\e6b8";
}

.icon-yonghu:before {
  content: "\e6b3";
}

.icon-gouwuche:before {
  content: "\e635";
}

.icon-sousuo:before {
  content: "\e606";
}

.icon-a-shoucang-weishoucang:before {
  content: "\e60b";
}

